<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Copyright info -->
                <p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p>
            </div>
        </div>
    </div>
</footer>

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!-- JS -->
<script src="__JS__/jquery.js"></script> <!-- jQuery -->
<script src="__JS__/bootstrap.js"></script> <!-- Bootstrap -->
<script src="__JS__/jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="__JS__/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="__JS__/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="__JS__/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="__JS__/excanvas.min.js"></script>
<script src="__JS__/jquery.flot.js"></script>
<script src="__JS__/jquery.flot.resize.js"></script>
<script src="__JS__/jquery.flot.pie.js"></script>
<script src="__JS__/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="__JS__/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="__JS__/themes/default.js"></script> <!-- jQuery Notify -->
<script src="__JS__/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="__JS__/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="__JS__/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="__JS__/sparklines.js"></script> <!-- Sparklines -->
<script src="__JS__/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="__JS__/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<!--<script src="__JS__/jquery.uniform.min.js"></script> &lt;!&ndash; jQuery Uniform &ndash;&gt;-->
<script src="__JS__/bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="__JS__/filter.js"></script> <!-- Filter for support page -->
<script src="__JS__/custom.js"></script> <!-- Custom codes -->
<script src="__JS__/charts.js"></script> <!-- Charts & Graphs -->
